name: CI
on:
  push:

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        swift: [5.5, swift-DEVELOPMENT-SNAPSHOT-2021-11-12-a]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Swift
      uses: ./
      with:
        version: ${{ matrix.swift }}
    
    - name: Print Swift Version
      run: swift --version
